<launch>
  <machine name="workstation" address="localhost"/>
  
  <node name="gui" pkg="challenge"
                   type="navigation"
                   args="com.github.rosjava.challenge.gui.MapGUI"
                   machine="workstation"
                   output="screen"/>

  <node name="nav_gui" pkg="challenge"
                       type="navigation"
                       args="com.github.rosjava.challenge.navigation.GlobalNavigation"
                       machine="workstation"
                       output="log">
      <param name="mapFileName" value="$(env CHALLENGE)/maps/challenge_2015.map" />
  </node>

  <node name="pub" pkg="challenge"
                   type="uorc_publisher"
                   args="com.github.rosjava.challenge.uorc_publisher.Publisher"
                   machine="workstation"
                   output="log" />

  <node name="lis" pkg="challenge"
                   type="uorc_listener"
                   args="org.github.challenge.uorc_listener.Listener"
                   machine="workstation"
                   output="log" /> 

  <node name="odo" pkg="challenge"
                   type="odometry"
                   args="com.github.rosjava.challenge.odometry.Odometry"
                   machine="workstation"
                   output="log"/> 

  <node name="nav" pkg="navigation"
                   type="navigation"
                   args=""
                   machine="workstation"
                   output="screen">
      <param name="calculateFromScratch" value="no" />
      <param name="precalcPath" value="$(env CHALLENGE)/maps/challenge_2015.dec" />
      <param name="mapFileName" value="$(env CHALLENGE)/maps/challenge_2015.map" />
      <param name="testLocalization" value="no" />
      <param name="testWheelVelocities" value="no" />
      <param name="testNavigationInReality" value="no" />
  </node>

  <node name="loc" pkg="localization"
                   type="localization"
                   args=""
                   machine="workstation"
                   output="screen">
      <param name="mapFileName" value="$(env CHALLENGE)/maps/challenge_2015.map" />
      <param name="testTriangulation" value="no" />
      <param name="leaveBreadCrumbs" value="yes" />
  </node>

  <!--
  <node name="sim" pkg="simulate_orc"
                   type="simulate_orc"
                   args=""
                   machine="workstation"
                   output="screen">
  </node>
  -->

</launch>
