<launch>
  <machine name="workstation" address="localhost"/>

  <node name="vid" pkg="gscam" type="gscam" machine="workstation" />
  <!-- <node name="rep" pkg="image_transport" type="republish" args="compressed in:=/gscam/image_raw raw out:=/rss/video" machine="workstation"/> -->

  <node name="rep" pkg="image_transport" type="republish" args="compressed in:=/camera/image_raw raw out:=/rss/video" machine="workstation"/>

  <node name="view" pkg="image_view" type="image_view" args="image:=/rss/video" machine="workstation" />

  <node name="blobview" pkg="image_view" type="image_view" args="image:=/rss/blobVideo" machine="workstation" />
  <node name="vis" pkg="challenge" type="vision" args="com.github.rosjava.challenge.vision.Vision" machine="workstation" output="screen"/>

  <node name="nav" pkg="navigation"
                   type="navigation"
                   args=""
                   machine="workstation"
                   output="screen">
      <param name="calculateFromScratch" value="no" />
      <param name="precalcPath" value="$(env CHALLENGE)/maps/challenge_2015.dec" />
      <param name="mapFileName" value="$(env CHALLENGE)/maps/challenge_2015.map" />
      <param name="testLocalization" value="no" />
      <param name="testWheelVelocities" value="no" />
      <param name="testNavigationInReality" value="no" />
  </node>

</launch>
